/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.heading{
  padding: 10px;
  text-align: center;
  color: #646681;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.page {
  max-width: 750px;
  margin: 0 auto;
}

.second {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

.btn {
  color: white;
  font-size: medium;
  width: 15%;
  padding: px;
  border-radius: 5px;
  background-color: #646ff0;
  border: #646ff0;
}

.drop-dwn {
  padding: 12px;
  background-color: #cccdde;
  width: 22%;
  font-size: medium;
  border-radius: 5px;
  border: #cccdde;
}

.third-box {
  padding-bottom: 10%;
  background-color: #ecedf6;
  padding: 20px;
  border-radius: 7px;
  
}

.inner-box {
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background-color: #dedfe1;
  width: 80px;
  margin: 0 auto;
}

